<div class="container-fullwidth">
  <nav class="navbar navbar-default navbar-expand-lg navbar-light" style="background-color : #ffffb3; margin-bottom: 25px">
    <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/lab-2/">Home</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="/lab-2-addon/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lab-3/">Diary</a>
        </li>
      </ul>
  </nav>
</div>