body {
  min-height: 2000px;
  background-image: url(https://i.pinimg.com/originals/50/5e/cb/505ecb7affb7420a07c0691b08f06e23.jpg);
}

.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}