<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-light" style="background-color: #176cff">
    <div class="container">
        <div class="navbar-header" style="width: inherit">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'lab-9:profile' %}" style="color: #edecd6">Home</a>
            {% if logged_in %}
            <a class="navbar-brand navbar-right" href="{% url 'lab-9:auth_logout' %}"
               style="background-color: #c43238; color: #f3fbff;">Logout</a>
            {% else %}
            {% endif %}
        </div>
    </div>
</nav>
