{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            { // lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}", // update
                success: function (response) {
                    // tampilkan list teman ke halaman
                    // hint : gunakan fungsi jquery append()
                    console.log(response)
                    var list = JSON.parse(response.json)
            
                    if(list.length==0) {
                        var html = '<div class="alert alert-danger text-center"><strong>Oops!</strong> Tidak ada teman</div>';
                        $(".list-group").append(html)
                    }
                    else {
                        $.each(list, function(index, friend) {
                            var button = '<span class="pull-right">'+
                                            '<button type="button" class="btn btn-xs btn-danger"'+
                                            'onClick="deleteFriend('+friend.pk+')">'+
                                                '&times;'+
                                            '</button>'+
                                         '</span>';
                            var html = '<a class="list-group-item clearfix">'+
                                        friend.fields.friend_name +
                                        ' (' + friend.fields.npm + ')' + button + '</a>';
                            $(".list-group").append(html)
                        });
                    }
                },
            });
        }});

        const deleteFriend = function(id) {
            location.href = 'delete-friend/'+id;
        }
 
    </script>
{% endblock %}
